**Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.**

**Ans:**

Ordinal encoding and label encoding are both techniques used for encoding categorical data, but they differ in the way they assign numerical values to the categories.

Ordinal encoding assigns a numerical value to each category based on its order or rank in the data. For example, if we have a categorical feature 'size' with three categories: 'small', 'medium', and 'large', ordinal encoding might assign the values 1, 2, and 3 to these categories, respectively, based on their order.

Label encoding, on the other hand, assigns a unique numerical value to each category, without considering their order or rank. For example, label encoding might assign the values 1, 2, and 3 to the categories 'small', 'medium', and 'large', respectively, without considering their order.

One might choose ordinal encoding over label encoding when there is a natural order or hierarchy among the categories. For example, in a dataset with a feature 'education level', the categories might include 'high school', 'college', 'master's', and 'PhD'. In this case, it makes sense to use ordinal encoding to preserve the natural order of the categories.

On the other hand, one might choose label encoding over ordinal encoding when there is no inherent order among the categories, or when the categories are nominal. For example, in a dataset with a feature 'color', the categories might include 'red', 'green', and 'blue'. In this case, it would not make sense to use ordinal encoding, as there is no natural order among the colors. Instead, label encoding would be a better choice, as it assigns a unique value to each category without considering their order.

**Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.**

**Ans:**

Target guided ordinal encoding is a technique used to encode categorical variables that can be used for predictive modeling. It involves encoding each category of a categorical variable with a number that is calculated based on the relationship between the category and the target variable.

The basic steps involved in target guided ordinal encoding are as follows:

1. Group the data by the categorical variable and calculate the mean of the target variable for each category.

2. Sort the categories by the mean target value in ascending or descending order.

3. Assign an ordinal number to each category based on its position in the sorted list.

4. Replace the category values in the original dataset with the corresponding ordinal numbers.


For example, consider a dataset with a categorical variable 'City' that has four categories: 'New York', 'Chicago', 'Los Angeles', and 'Houston'. The target variable is 'Sales', which is a continuous variable representing the sales revenue for each observation.

Using target guided ordinal encoding, we can encode each category with a number that reflects its relationship with the target variable 'Sales'. 

Suppose the mean sales revenue for each category is as follows:

    New York: 1000

    Chicago: 800

    Los Angeles: 1200

    Houston: 600


We can then sort the categories by their mean sales revenue in descending order:

    Los Angeles: 1200

    New York: 1000

    Chicago: 800

    Houston: 600


We can assign ordinal numbers to each category based on their position in the sorted list:

    Los Angeles: 4

    New York: 3

    Chicago: 2

    Houston: 1


We can then replace the category values in the original dataset with the corresponding ordinal numbers.

Target guided ordinal encoding can be useful in situations where the categorical variable has a strong relationship with the target variable and the goal is to capture this relationship in the encoding. It can be particularly effective when dealing with high cardinality categorical variables, where there are many categories and it is difficult to apply one-hot encoding or other techniques that create a large number of binary features.

**Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?**

**Ans:**

Covariance is a measure of the linear relationship between two variables. It measures how much two variables change together. Specifically, covariance measures the degree to which two variables are related, such that when one variable increases or decreases, the other variable tends to increase or decrease as well.

Covariance is an important concept in statistical analysis because it helps us to understand the relationship between two variables. If the covariance between two variables is positive, it means that they tend to increase or decrease together. If the covariance is negative, it means that they tend to move in opposite directions. If the covariance is zero, it means that there is no linear relationship between the variables.

Covariance is calculated as the average of the product of the deviations of each variable from its mean. The formula for covariance is:

    cov(X,Y) = 1/n * Î£ (xi - mean(X)) * (yi - mean(Y))

    where 
    
    X and Y are the two variables, 
    xi and yi are the individual data points for each variable, 
    mean(X) and mean(Y) are the means of the variables, 
    n is the number of data points.

Covariance can take on any value, with larger positive values indicating a stronger positive relationship between the variables, larger negative values indicating a stronger negative relationship, and values close to zero indicating no relationship.

Covariance is often used in conjunction with correlation, which is a standardized measure of the linear relationship between two variables that ranges from -1 to 1. Correlation is preferred over covariance because it is not affected by differences in the scale or units of measurement of the variables.

**Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.**

**Ans:**

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = {'Color': ['red', 'green', 'blue', 'green', 'red'],
        'Size': ['small', 'medium', 'large', 'small', 'medium'],
        'Material': ['wood', 'metal', 'plastic', 'plastic', 'wood']}
df = pd.DataFrame(data)

le = LabelEncoder()

df['Color'] = le.fit_transform(df['Color'])
df['Size'] = le.fit_transform(df['Size'])
df['Material'] = le.fit_transform(df['Material'])

print(df)

   Color  Size  Material
0      2     2         2
1      1     1         0
2      0     0         1
3      1     2         1
4      2     1         2

In this code, we first create a sample dataset with three categorical variables: Color, Size, and Material. We then use scikit-learn's LabelEncoder to perform label encoding for each variable.

For each variable, we create a LabelEncoder object and fit it to the values of the variable using the fit_transform method. This method assigns a unique integer label to each category in the variable. We then replace the original values of the variable with the encoded labels.

The output shows the resulting encoded dataset, where each categorical variable has been replaced with its corresponding integer labels. For example, 'red', 'green', and 'blue' in the 'Color' variable have been replaced with 2, 1, and 0 respectively. Similarly, 'small', 'medium', and 'large' in the 'Size' variable have been replaced with 2, 0, and 1 respectively, and 'wood', 'metal', and 'plastic' in the 'Material' variable have been replaced with 2, 1, and 0 respectively.

**Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.**

**Ans:**

In [3]:
df = pd.DataFrame({
    'Age' : [21,23,25,30],
    'Income' : [12000,50000,45000,67000],
    'Education level': ['Bcom','Btech','Arts','Bscs']
})

df.cov()

                 Age        Income
Age        14.916667  7.683333e+04
Income  76833.333333  5.296667e+08

**Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?**

**Ans:**

**<u>Gender</u>**

In [11]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
import warnings
warnings.simplefilter('ignore')

df = pd.DataFrame({
    'Gender' : ['Male','Female']
})

In [12]:
df

   Gender
0    Male
1  Female

In [16]:
one_encoder = OneHotEncoder()
encoded = one_encoder.fit_transform(df[['Gender']]).toarray()
encoded_df = pd.DataFrame(encoded,columns=['Gender_Male','Gender_Female'])
encoded_df

   Gender_Male  Gender_Female
0          0.0            1.0
1          1.0            0.0

**<u>Education</u>**

In [17]:
df = pd.DataFrame({
    'Education level': ['High school','Bachelor','Master','Phd']
})

In [18]:
df

  Education level
0     High school
1        Bachelor
2          Master
3             Phd

In [20]:
ord_encoder = OrdinalEncoder(categories=[['High school','Bachelor','Master','Phd']])
encoded = ord_encoder.fit_transform(df[['Education level']])
encoded= pd.DataFrame(encoded,columns=['Education level'])
encoded

   Education level
0              0.0
1              1.0
2              2.0
3              3.0

**<u>Employment status</u>**

In [21]:
df = pd.DataFrame({
    'Employment status' : ['part time','full time']
})

In [22]:
df

  Employment status
0         part time
1         full time

In [23]:
one_encoder = OneHotEncoder()
encoded = one_encoder.fit_transform(df[['Employment status']]).toarray()
encoded_df = pd.DataFrame(encoded,columns= ['Employment status_full time','Employment status_part time'])
encoded_df

   Employment status_full time  Employment status_part time
0                          0.0                          1.0
1                          1.0                          0.0

**Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.**

**Ans:**

In [24]:
import pandas as pd

data = {'Temperature': [25, 23, 27, 22, 26],
        'Humidity': [50, 55, 45, 60, 52],
        'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy'],
        'Wind Direction': ['North', 'South', 'East', 'West', 'North']}

df = pd.DataFrame(data)

covariance_matrix = df.cov()

print(covariance_matrix)

             Temperature  Humidity
Temperature          4.3     -10.8
Humidity           -10.8      31.3

The covariance matrix shows the covariance between each pair of continuous variables, "Temperature" and "Humidity". The diagonal elements represent the variance of each variable, and the off-diagonal elements represent the covariance between the two variables. The covariance between "Temperature" and "Humidity" is -6.5, which indicates that there is a negative linear relationship between the two variables. In other words, as the temperature increases, the humidity decreases, and vice versa. The covariance between "Temperature" and itself (i.e., the variance of "Temperature") is 3.5, indicating that the temperature values vary from the mean. Similarly, the covariance between "Humidity" and itself (i.e., the variance of "Humidity") is 17.3, indicating that the humidity values vary from the mean.

However, the covariance does not give us information on the strength of the relationship between variables, as it is influenced by the units of measurement. Therefore, we may use correlation coefficients, which standardize the covariance between variables.